$space: (
  xs: 2px,
  s: 4px,
  m: 8px,
  l: 12px,
  xl: 16px,
  xxl: 24px,
);

$side: (
  l: 'left',
  r: 'right',
  t: 'top',
  b: 'bottom',
);

@each $sizeName, $size in $space {
  @each $sideShortName, $sideName in $side {
    .margin_#{$sideShortName}-#{$sizeName} {
      margin-#{$sideName}: $size
    }
    .padding_#{$sideShortName}-#{$sizeName} {
      padding-#{$sideName}: $size
    }
  }
  .margin_#{$sizeName} {
    margin: $size
  }
  .padding_#{$sizeName} {
    padding: $size
  }
};

.app {
  height: 100vh;
  background-color: var(--bg-color-primary);
  font: var(--font-m);
  color: var(--color-primary);
}

.d-flex {
  display: flex;
}

.a-center {
  align-items: center
}

.jc-end {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}