.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-l) var(--space-xxl);
  background-color: var(--bg-color-secondary);
  color: var(--color-secondary);
  &__link-item {
    padding: 3px;
    margin: 0 10px;
  }
}